/*GINÁSIO DO TIPO PEDRA*/

.tipo-pedra{
    display: flex;
    background-color: rgb(161, 121, 69);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(212, 178, 132);
    color: #ffefd1;
    
}

.tipo-pedra img{
    margin-left: -10%;
}

.fundo-pedra{
    display: flex;
    background-color: rgb(207, 155, 87);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(223, 194, 156);
    padding: 1.5rem;
}

.insignia-pedra{
    display: flex;
    background-color: rgb(207, 155, 87);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(223, 194, 156);
    padding: 1.5rem;
    width: 4rem;
    height: 3rem;
    align-items: center;
    margin-left: -3rem;
    margin-bottom: 1rem;

}

.insignia-pedra img{
    width: 15rem;
    height: 5rem;
}


/*GINÁSIO TIPO AGUA*/


.tipo-agua{
    display: flex;
    background-color: rgb(11, 126, 179);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(132, 183, 212);
    color: #d1f6ff;
}

.tipo-agua img{
    margin-left: -6%;
}

.fundo-agua{
    display: flex;
    background-color: rgb(94, 179, 228);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(156, 202, 223);
    padding: 1.5rem;
    margin-right: 5%;
}

.pokemons-agua{
    display: flex;
    background-color: rgb(94, 179, 228);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(156, 202, 223);
    padding: 1.5rem;
    width: 8rem;
    height: 3rem;
    margin-left: -9%;
    align-items: center;

}

.insignia-agua{
    display: flex;
    background-color: rgb(94, 179, 228);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(156, 202, 223);
    padding: 1.5rem;
    width: 4rem;
    height: 3rem;
    align-items: center;
    margin-left: -3rem;
    margin-bottom: 1rem;

}


.pokemons-agua img{
    width: 25rem;
    height: 5rem;
    margin-left: 2%;
}

.insignia-agua img{
    width: 15rem;
    height: 5rem;
}

.pokemons-agua .staryu{
    margin-right: 30%;
}

.pokemons-agua .starmie{
    margin-right: -10%;
    margin-left: -7%;

}

.tipo-agua .lider-ag{
    margin-left: -5%;
}

/*GINÁSIO TIPO PLANTA*/


.tipo-planta{
    display: flex;
    background-color: rgb(11, 179, 39);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(148, 212, 132);
    color: #d1ffd9;
}

.tipo-planta img{
    margin-left: -10%;
}

.fundo-planta{
    display: flex;
    background-color: rgb(98, 211, 98);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(162, 223, 156);
    padding: 1.5rem;
}

.pokemons-planta{
    display: flex;
    background-color: rgb(98, 211, 98);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(162, 223, 156);
    padding: 1.5rem;
    width: 10.2rem;
    height: 3rem;
    margin-left: -9%;
    align-items: center;

}

.insignia-planta{
    display: flex;
    background-color: rgb(98, 211, 98);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(162, 223, 156);
    padding: 1.5rem;
    width: 4rem;
    height: 3rem;
    margin-left: -3rem;
    align-items: center;
    margin-bottom: 1rem;

}

.pokemons-planta img{
    width: 25rem;
    height: 5rem;
    margin-left: 2%;
}

.insignia-planta img{
    width: 15rem;
    height: 5rem;
}

.pokemons-planta .Victreebel{
    margin-left: -16%;
}

.pokemons-planta .tangela{
    margin-left: -57%;
}

.pokemons-planta .vileplume{
    margin-left: -59%;
}

/*GINÁSIO TIPO ELÉTRICO*/


.tipo-eletrico{
    display: flex;
    background-color: rgb(179, 162, 11);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(212, 207, 132);
    color: #feffd1;
}

.tipo-eletrico img{
    margin-left: -10%;
}

.fundo-eletrico{
    display: flex;
    background-color: rgb(211, 200, 98);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(222, 223, 156);
    padding: 1.5rem;
}

.pokemons-eletrico{
    display: flex;
    background-color: rgb(211, 200, 98);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(222, 223, 156);
    padding: 1.5rem;
    width: 9.3rem;
    height: 3rem;
    margin-left: -9%;
    align-items: center;

}

.insignia-eletrico{
    display: flex;
    background-color: rgb(211, 200, 98);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(222, 223, 156);
    padding: 1.5rem;
    width: 4rem;
    height: 3rem;
    margin-left: -3rem;
    align-items: center;
    margin-bottom: 1rem;

}

.pokemons-eletrico img{
    width: 30rem;
    height: 5rem;
}

.insignia-eletrico img{
    width: 15rem;
    height: 5rem;
}

.pokemons-eletrico .voltorb{
    margin-left: -30%;
}

.pokemons-eletrico .pikachu{
    margin-left: -65%;
}

.pokemons-eletrico .raichu{
    margin-left: -59%;
}

/*GINÁSIO TIPO VENENOSO*/


.tipo-venenoso{
    display: flex;
    background-color: rgb(75, 11, 179);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(167, 132, 212);
    color: #e7d1ff;
}

.tipo-venenoso img{
    margin-left: -10%;
}

.fundo-venenoso{
    display: flex;
    background-color: rgb(137, 98, 211);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(187, 156, 223);
    padding: 1.5rem;
}

.pokemons-venenoso{
    display: flex;
    flex-direction: row;
    background-color: rgb(137, 98, 211);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(187, 156, 223);
    padding: 1.5rem;
    width: 10.5rem;
    height: 2.5rem;
    margin-left: -9%;
    align-items: center;

}

.insignia-venenoso{
    display: flex;
    background-color: rgb(137, 98, 211);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(187, 156, 223);
    padding: 1.5rem;
    width: 4rem;
    height: 3rem;
    margin-left: -3rem;
    align-items: center;
    margin-bottom: 1rem;

}

.pokemons-venenoso img{
    width: 70%;
}

.insignia-venenoso img{
    width: 15rem;
    height: 5rem;
}

.pokemons-venenoso .koffing{
    margin-left: -20%;
}

.pokemons-venenoso .mulk{
    margin-left: -55%;
}

.pokemons-venenoso .koffing2{
    margin-left: -55%;
}

.pokemons-venenoso .weezing{
    margin-left: -50%;
}


/*GINÁSIO TIPO PSIQUICO*/

.tipo-psiquico{
    display: flex;
    background-color: rgb(179, 11, 89);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(212, 132, 169);
    color: #ffd1e3;
}

.tipo-psiquico img{
    margin-left: -8%;
}

.fundo-psiquico{
    display: flex;
    background-color: rgb(211, 98, 145);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(223, 156, 184);
    padding: 1.5rem;
}

.pokemons-psiquico{
    display: flex;
    flex-direction: row;
    background-color: rgb(211, 98, 145);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(223, 156, 184);
    padding: 1.5rem;
    width: 10.5rem;
    height: 2.5rem;
    margin-left: -9%;
    align-items: center;

}

.insignia-psiquico{
    display: flex;
    background-color: rgb(211, 98, 145);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(223, 156, 184);
    padding: 1.5rem;
    width: 4rem;
    height: 3rem;
    margin-left: -3rem;
    align-items: center;
    margin-bottom: 1rem;

}

.pokemons-psiquico img{
    width: 10rem;
}

.insignia-psiquico img{
    width: 15rem;
    height: 5rem;
}


/*GINÁSIO TIPO FOGO*/

.tipo-fogo{
    display: flex;
    background-color: rgb(179, 11, 11);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(212, 132, 132);
    color: #ffd1d1;
    margin-left: 5%;
}

.tipo-fogo img{
    margin-left: -5%;
    width: 40%;
}

.fundo-fogo{
    display: flex;
    background-color: rgb(211, 98, 98);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(223, 156, 156);
    padding: 1.5rem;
}

.pokemons-fogo{
    display: flex;
    flex-direction: row;
    background-color: rgb(211, 98, 98);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(223, 156, 156);
    padding: 1.5rem;
    width: 11.5rem;
    height: 2.5rem;
    margin-left: -9%;
    align-items: center;

}

.insignia-fogo{
    display: flex;
    background-color: rgb(211, 98, 98);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(223, 156, 156);
    padding: 1.5rem;
    width: 4rem;
    height: 3rem;
    margin-left: -3rem;
    align-items: center;
    margin-bottom: 1rem;

}

.pokemons-fogo img{
    width: 10rem;
}

.insignia-fogo img{
    width: 15rem;
    height: 5rem;
}

/*GINÁSIO DO TIPO VOADOR*/

.tipo-voador{
    display: flex;
    background-color: rgb(64, 110, 196);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(180, 203, 247);
    color: rgb(201, 219, 252);
}

.tipo-voador img{
    margin-left: -8%;
}

.fundo-voador{
    display: flex;
    background-color: rgb(109, 155, 241);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(180, 203, 247);
    padding: 1.5rem;
}



.insignia-voador{
    display: flex;
    background-color: rgb(109, 155, 241);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(180, 203, 247);
    padding: 1.5rem;
    width: 4rem;
    height: 3rem;
    margin-left: -3rem;
    align-items: center;
    margin-bottom: 1rem;

}


.pokemons-voador img{
    width: 100%;
    margin-right: 2%;
}

.insignia-voador img{
    width: 15rem;
    height: 5rem;
}

.pokemons-voador .pidgey{
    margin-left: -24%;
}

.pokemons-voador .pidgeotto{
    margin-left: -23%;
}

/*GINÁSIO DO TIPO INSETO*/

.tipo-inseto{
    display: flex;
    background-color: rgb(96, 129, 43);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(208, 241, 155);
    color: rgb(226, 248, 190);
}

.tipo-inseto img{
    margin-left: -10%;
}

.fundo-inseto{
    display: flex;
    background-color: rgb(138, 189, 55);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(208, 241, 155);
    padding: 1.5rem;
}

.pokemons-inseto{
    display: flex;
    background-color: rgb(138, 189, 55);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(208, 241, 155);
    padding: 1.5rem;
    width: 6.3rem;
    height: 2rem;
    margin-left: -9%;
    align-items: center;

}

.insignia-inseto{
    display: flex;
    background-color: rgb(138, 189, 55);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(208, 241, 155);
    padding: 1.5rem;
    width: 4rem;
    height: 3rem;
    margin-left: -3rem;
    align-items: center;
    margin-bottom: 1rem;

}

.pokemons-inseto img{
    width: 100%;
    margin-right: 2%;
}

.insignia-inseto img{
    width: 15rem;
    height: 5rem;
}

.pokemons-inseto .metapod{
    margin-left: -40%;
}

.pokemons-inseto .kakuna{
    margin-left: -45%;
}

.pokemons-inseto .scyther{
    margin-left: -33%;
}

/*GINÁSIO DO TIPO INSETO*/

.tipo-normal{
    display: flex;
    background-color: rgb(161, 107, 121);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(209, 163, 175);
    color: rgb(247, 202, 214);
}

.tipo-normal img{
    margin-left: -10%;
}

.fundo-normal{
    display: flex;
    background-color: rgb(199, 124, 144);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(247, 202, 214);
    padding: 1.5rem;
}


.insignia-normal{
    display: flex;
    background-color: rgb(199, 124, 144);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(247, 202, 214);
    padding: 1.5rem;
    width: 4rem;
    height: 3rem;
    margin-left: -3rem;
    align-items: center;
    margin-bottom: 1rem;

}

.pokemons-normal img{
    width: 100%;
    margin-right: 2%;
}

.insignia-normal img{
    width: 15rem;
    height: 5rem;
}



/*GINÁSIO TIPO FANTASMA*/
.tipo-fantasma{
    display: flex;
    background-color: rgb(52, 54, 153);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(130, 132, 240);
    color: rgb(197, 198, 255);
}

.tipo-fantasma img{
    margin-left: -10%;
}

.fundo-fantasma{
    display: flex;
    background-color: rgb(60, 63, 214);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(130, 132, 240);
    padding: 1.5rem;
}

.pokemons-fantasma{
    display: flex;
    background-color: rgb(60, 63, 214);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(130, 132, 240);
    padding: 1.5rem;
    width: 11.7rem;
    height: 3rem;
    margin-left: -9%;
    align-items: center;

}

.insignia-fantasma{
    display: flex;
    background-color: rgb(60, 63, 214);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(130, 132, 240);
    padding: 1.5rem;
    width: 4rem;
    height: 3rem;
    margin-left: -3rem;
    align-items: center;
    margin-bottom: 1rem;

}

.pokemons-fantasma img{
    width: 25rem;
    height: 5rem;

}

.insignia-fantasma img{
    width: 15rem;
    height: 5rem;
}


/*GINÁSIO TIPO LUTADOR*/

.tipo-lutador{
    display: flex;
    background-color: rgb(167, 88, 25);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(224, 144, 79);
    color: rgb(253, 218, 188);
    
}

.tipo-lutador img{
    margin-left: -5%;
}

.fundo-lutador{
    display: flex;
    background-color: rgb(230, 125, 40);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(224, 144, 79);
    padding: 1.5rem;
    width: 21.5rem;
}

.pokemons-lutador{
    display: flex;
    background-color: rgb(230, 125, 40);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(224, 144, 79);
    padding: 1.5rem;
    width: 8.4rem;
    height: 3rem;
    margin-left: -7%;
    align-items: center;
    margin-bottom: 1rem;

}

.insignia-lutador{
    display: flex;
    background-color: rgb(230, 125, 40);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(224, 144, 79);
    padding: 1.5rem;
    width: 4rem;
    height: 3rem;
    margin-left: -3rem;
    align-items: center;
    margin-bottom: 1rem;

}

.pokemons-lutador img{
    width: 25rem;
    height: 5rem;

}

.insignia-lutador img{
    width: 15rem;
    height: 5rem;
}


/*GINÁSIO DO TIPO AÇO*/

.tipo-aco{
    display: flex;
    background-color: rgb(64, 70, 71);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(154, 169, 173);
    color: rgb(198, 217, 223);
}

.tipo-aco img{
    margin-left: -10%;
}

.fundo-aco{
    display: flex;
    background-color: rgb(91, 104, 107);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(154, 169, 173);
    padding: 1.5rem;
}

.pokemons-aco{
    display: flex;
    background-color: rgb(91, 104, 107);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(154, 169, 173);
    padding: 1.5rem;
    width: 7rem;
    height: 2rem;
    margin-left: -5%;
    align-items: center;

}

.insignia-aco{
    display: flex;
    background-color: rgb(91, 104, 107);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(154, 169, 173);
    padding: 1.5rem;
    width: 4rem;
    height: 3rem;
    margin-left: -3rem;
    align-items: center;
    margin-bottom: 1rem;

}

.pokemons-aco img{
    width: 100%;
    margin-right: 2%;
}

.insignia-aco img{
    width: 15rem;
    height: 5rem;
}


/*GINÁSIO DO TIPO GELO*/

.tipo-gelo{
    display: flex;
    background-color: rgb(79, 207, 230);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(182, 244, 255);
    color: rgb(226, 244, 247);
}

.tipo-gelo img{
    margin-left: -10%;
}

.fundo-gelo{
    display: flex;
    background-color: rgb(114, 228, 248);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(182, 244, 255);
    padding: 1.5rem;
}

.pokemons-gelo{
    display: flex;
    background-color: rgb(114, 228, 248);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(182, 244, 255);
    padding: 1.5rem;
    width: 7.7rem;
    height: 2rem;
    margin-left: -9%;
    align-items: center;

}

.insignia-gelo{
    display: flex;
    background-color: rgb(114, 228, 248);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(182, 244, 255);
    padding: 1.5rem;
    width: 4rem;
    height: 3rem;
    margin-left: -3rem;
    align-items: center;
    margin-bottom: 1rem;

}

.pokemons-gelo img{
    width: 100%;
    margin-right: 2%;
}

.insignia-gelo img{
    width: 15rem;
    height: 5rem;
}


/*GINÁSIO TIPO FANTASMA*/
.tipo-dragao{
    display: flex;
    background-color: rgb(28, 45, 99);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(69, 96, 185);
    color: rgb(170, 190, 255);
}

.tipo-dragao img{
    margin-left: -8%;
}

.fundo-dragao{
    display: flex;
    background-color: rgb(43, 70, 158);
    border-style: double;
    border-radius: 25px;
    border-width: 10px;
    border-color: rgb(69, 96, 185);
    padding: 1.5rem;
}

.pokemons-dragao{
    display: flex;
    background-color: rgb(43, 70, 158);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(69, 96, 185);
    padding: 1.5rem;
    width: 12.4rem;
    height: 3.7rem;
    margin-left: -11%;
    align-items: center;
    margin-bottom: 2rem;

}

.insignia-dragao{
    display: flex;
    background-color: rgb(43, 70, 158);
    border-style: double;
    border-radius: 25px;
    border-width: 7px;
    border-color: rgb(69, 96, 185);
    padding: 1.5rem;
    width: 4rem;
    height: 3rem;
    margin-left: -3rem;
    align-items: center;
    margin-bottom: 1rem;

}

.pokemons-dragao img{
    width: 25rem;
    height: 5rem;

}

.insignia-dragao img{
    width: 15rem;
    height: 5rem;
}

